<footer id="footer-geral" class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9 d-flex flex-wrap flex-column flex-md-row justify-content-around justify-content-md-between align-items-center">
            <img src="../../images/wesley_logo_novo_branco.png" alt="">
            <p class="mb-0">Todos os direitos reservados - 2020</p>
        </div>
    </div>
</footer>