<footer id="footer-geral" class="container-fluid">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-3 m-5 d-flex justify-content-center align-items-center">
            <img src="../../images/wesley_logo_novo_branco.png" alt="">
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center align-items-md-start">
            <a href="/">Home</a>
            <a href="/mapa">Mapa</a>
            <a href="/enviarproblema">Enviar Problema</a>
            <a href="/saibamais">Saiba Mais</a>
            <a href="/ajuda">Ajuda</a>
            <a href="/#home-contato">Contato</a>
        </div>
        <div class="col-12 col-md-5 mt-5 mb-5 d-flex flex-column justify-content-center align-items-center align-items-md-start">
            <h3>Receba nossas novidades!</h3>
            <p>Assine nosso newsletter e acompanhe o desenvolvimento deste projeto.</p>
            <form id="form-newsletter" action="/newsletter" method="POST" class="d-flex flex-column justify-content-center align-items-center align-items-md-start">
                <input class="form-control" type="email" name="emailNewsletter" id="email-newsletter" placeholder="Ex.: email@email.com">
                <button class="btn btn-default btn-newsletter" type="submit" id="submit-newsletter">Enviar</button>
            </form>
        </div>
    </div>
</footer>