<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/ericStyle.css'>
    <title>Ajuda</title>
  </head>
  <body>
      <%- include("includes/header") %>
      <h2 class="text-center">Olá, como podemos te ajudar?</h2>    
      <form class="form-inline my-2 my-lg-0">
        <div class="col-2"></div>
        <input class="form-control mr-2 ml-5 pl-2 col-7" type="search" placeholder="Digite aqui a sua dúvida (exemplo: Como recuperar a senha?)" aria-label="Search">
        <button class="btn btn-warning btn-sm col-1" type="submit">Pesquisar</button>
      </form>
      <h2 class="text-left mb-1 mt-5" style="font-size: 30px; margin-left: 70px;">Veja também: Perguntas mais frequentes (FAQ)</h2>   
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="m-0 p-0">
              <button class="btn btn-link collapsed text-left ml-5" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Como recuperar minha senha?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body ml-5">
              Clique no botão entrar no canto superior direito da página, clique no botão login e em seguida
               clique no botão 'Esqueceu a Senha?', digite seu e-mail no campo e selecione o botão 'Recuperar Senha'.
                Um link será enviado para seu e-mail, onde você poderá redefinir sua senha.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="m-0 p-0">
              <button class="btn btn-link collapsed text-left ml-5" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Como faço para enviar um problema?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body ml-5">
              Clique no link 'Enviar Problema' no menu principal, 
              localizado na parte superior do site e preencha o formulário com as informações
               sobre o problema encontrado e sua localização.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="m-0 p-0">
              <button class="btn btn-link collapsed text-left ml-5" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                A calçada da minha rua tem um problema, mas não consta no site
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body ml-5">
              Devido à plataforma ser colaborativa, os problemas de mobilidade encontrados são submetidos
               por usuários nos enviam os problemas encontrados. Então caso você encontre uma problema que não consta
                na plataforma, é por que wle ainda não foi relatado por ninguém. Você pode contribuir atribuindo esse problema 
                na nossa plataforma, para que outras pessoas possam visualizá-lo. Clique em 'Enviar Problema' no menu da parte
                 superior e nos ajude a mapear os problemas de mobilidade!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="m-0 p-0">
              <button class="btn btn-link collapsed text-left ml-5" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Como faço para atualizar um problema, agora que o mesmo foi resolvido?
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body ml-5">
              Acesse à sua página de perfil e, ao lado da contribuição que deseja atualizar, clique no botão 'Resolvido' e confirme.
               Se desejar remover a contribuição do site, clique em 'Apagar' e confirme. Muito obrigado por nos ajudar a mapear os problemas 
               de mobilidade!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="m-0 p-0">
              <button class="btn btn-link collapsed text-left ml-5" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Como posso entrar em contato com a equipe responsável pelo site?
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body ml-5">
              Ficaremos felizes de receber seu feedback! Na parte inferior da página principal reservamos a área <a href="/#home-contato">Entre em Contato</a>. Lá você pode enviar sua mensagem e entrar em contato com a nossa equipe.
            </div>
          </div>
        </div>
      </div>

      <%- include("includes/footer") %>

      <%- include("includes/script") %>
  </body>
</html>
