<!DOCTYPE html>
<html>

<head>
  <%- include("includes/head") %>

  <title>MobMap - Perfil</title>
  <link rel='stylesheet' href='/stylesheets/deyvisonStyle.css'>
  <meta name="keywords" content="Mobilidade, Mapas, Perfil">
  <meta name="author" content="Deyvison J Paula">
</head>

<body>
  <!-- <%- include("includes/header") %> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">mobmap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
      aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(Página atual)</span></a>
        </li>

      </ul>
      <span class="navbar-text">
        Apenas como exemplo
      </span>
    </div>
  </nav>

  <main class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <img class="rounded-cicle" src="/images/profile.png" alt="imagem de perfil" width="200">
        <h4>Karla Jhenifer</h4>
        <span>karla@email.com</span>

        <ul class="flex-column nav">
          <a class="nav-link" href="/perfil/atualizarPerfil">Atualizar perfil</a>
          <a class="nav-link" href="/perfil/alterarSenha">Alterar senha</a>
          <a class="nav-link" href="/perfil">Ver Perfil</a>
        </ul>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8" style="margin-top:50px">
        <h3 class="perfil" style="color: red;"> Excluir sua conta
        </h3>
        <hr style="border-bottom: 2px solid rgb(221, 99, 68);">
        <p> Oi <strong>Karla</strong> </p>
        <p> Sentimos muito por você estar prestes a excluir sua conta. </p>
        <class="perfil"> Antes de excluir, caso deseje, converse com a gente: 
          <a href="">mobmap@email.com</a>
        </p>
        <button type="submit" class="btn btn-danger">Excluir</button>
        <button type="button" onclick="window.location.href = '/perfil'" class="btn btn-success">Cancelar</button>
      </div>

    </div>

  </main>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="/javascripts/bootstrap.min.js"></script>



</body>

</html>