<!DOCTYPE html>
<html>

<head>
    <%- include("includes/head") %>
    <link rel='stylesheet' href='../stylesheets/mapaStyle.css'>
    <title>MobMap - Mapa</title>
</head>

<body>
    <main id="main-mapa" class="container-fluid">
        <section id="mapa-inicio" class="row main-mapa">
            <div id="container-mapa" class="col-12 p-0">
                <div id="div-mapa" class="col-12"></div>
                <div id="botao-voltar">
                    <a href="/" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a>
                </div>
            </div>
            <div id="div-pesquisa" class="col-12">
                <div id="barra-pesquisa" class="col-12 d-flex align-items-center">
                    <form id="form-pesquisa" class="" action="/mapa/pesquisa" method="GET">
                        <div class="form-row">
                            <div class="form-group col-12 m-auto d-flex justify-content-around align-items-center">
                                <input type="text" autocomplete="off" class="form-control" name="inputPesquisa" id="input-pesquisa" placeholder="Ex.: Digite uma rua e cidade">
                                <button class="btn btn-default" type="submit" id="submit-pesquisa"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="resultado-pesquisa">

                </div>
            </div>
            <div class="zoom-imagem-fundo" id="zoom-imagem-fundo">
                <i class="fa fa-times" aria-hidden="true" id="botao-fechar"></i>
                <div class="container-imagem">
                    <img src="../images_problemas/imagem-padrao-mobmap.jpg">
                </div>
            </div>
        </section>

    </main>

    <%- include("includes/footer") %>

    <%- include("includes/script") %>
    
    <script src="../scripts/mapaScript.js"></script>
</body>

</html>