<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/matheusStyle.css'>
    <title>Mapa</title>
  </head>
  <body>
      <%- include("includes/header") %>
    <h1 class="text-center" id="nomeInicial">Mapa</h1>

    <%- include("includes/footer") %>
  </body>
</html>
