<!DOCTYPE html>
<html>

<head>
    <%- include("includes/head") %>
    <link rel='stylesheet' href='../stylesheets/mapaStyle.css'>
    <title>MobMap - Mapa</title>
</head>

<body>
    <main id="main-mapa" class="container-fluid">
        <section id="mapa-inicio" class="row main-mapa">
            <div id="div-mapa" class="col-12">
                <div id="botao-voltar" class="">
                    <a href="/" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a>
                </div>
                <iframe width="100%" height="100%" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGUXrf6tQzpQRlM85BNsNn3M&key=AIzaSyDwhTa-9AxuYqmhQ3x52R8b8eCLRF_83zM" allowfullscreen></iframe>

            </div>
            <div id="div-pesquisa" class="col-12">
                <div id="barra-pesquisa" class="col-12">
                    <form id="form-pesquisa" action="/pesquisa" method="GET">
                        <label for="input-pesquisa">Faça um busca:</label>
                        <input type="text" class="form-control" name="inputPesquisa" id="input-pesquisa" placeholder="Ex.: Digite um endereço">
                        <button class="btn btn-default" type="submit" id="submit-pesquisa"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div id="resultado-pesquisa">

                </div>
            </div>
        </section>

    </main>

    <%- include("includes/footer") %>

    <%- include("includes/script") %>
    
</body>

</html>