<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/marcosStyle.css'>
    <title>Nova Conta</title>
  </head>
  <body>
      <%- include("includes/header") %>
    <h1 class="text-center" id="nomeInicial">Nova Conta</h1>

     
  </body>
</html>