<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/wesleyStyle.css'>
    <title>Pagina Inicial</title>
  </head>
  <body>
      <%- include("includes/header") %>

      <main id="main-home" class="container-fluid">
      </main>
     
  </body>
</html>
