<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
    <link rel='stylesheet' href='/stylesheets/wesleyStyle.css'>
    <title>MobMap - Página Inicial</title>
  </head>
  <body>
    <%- include("includes/header") %>

    <main id="main-home" class="container-fluid">
      <section id="home-inicio" class="row justify-content-center bg-inicio">
        <div class="col-12 col-md-10 col-lg-9">
            <div class="col-12 col-md-10 col-lg-9 col-xl-7 d-flex flex-wrap flex-column align-items-center align-items-md-start">
                <img class="content-mobile" src="../images/wesley_logo_novo_azul.png" alt="">
                <h1 class="content-mobile">Mapeie problemas de mobilidade</h1>
                <h1 class="content-desktop">Mapeie problemas que dificultam a mobilidade urbana</h1>

                <p class="content-mobile">Ajude a mapear problemas que dificultam a mobilidade urbano</p>
                <p class="content-desktop">Calçada irregular, buraco no passeio, poste no meio da calçada... Ajude pessoas com mobilidade reduzida mapeando problemas deste tipo.</p>
                <a href="#" id="button-home" class="btn btn-default d-flex align-items-center justify-content-center btn-inicio">Acessar Mapa</a>
            </div>
        </div>
      </section>

      <section id="home-como" class="row justify-content-center bg-como">
        <div class="col-12 col-md-10 col-lg-9">
            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                <h2>Como Funciona</h2>
                <hr>
            </div>
            <div class="col-12 col-md-8 col-lg-7 col-xl-6 d-flex flex-wrap">
                <div class="col-2 p-0">
                    <img src="../images/wesley_icon_search.png" alt="">
                </div>
                <div class="col-10">
                    <p>Encontre na sua cidade problemas de mobilidade</p>
                </div>
                <div class="col-2 p-0">
                    <img src="../images/wesley_icon_camera.png" alt="">
                </div>
                <div class="col-10">
                    <p>Relate o problema com a ajuda de fotos e descrição</p>
                </div>
                <div class="col-2 p-0">
                    <img src="../images/wesley_icon_compass.png" alt="">
                </div>
                <div class="col-10">
                    <p>Envie junto o endereço ou utilize sua localização</p>
                </div>
                <div class="col-2 p-0">
                    <img src="../images/wesley_icon_star.png" alt="">
                </div>
                <div class="col-10">
                    <p>Pronto! Sua contribuição vai direto para o mapa</p>
                </div>
                    <a href="#" id="button-home" class="btn btn-default d-flex align-items-center justify-content-center btn-inicio">Acessar Mapa</a>
            </div>
        </div>
      </section>

    </main>
     
  </body>
</html>
