<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/wesleyStyle.css'>
    <title>Pagina Inicial</title>
  </head>
  <body>
      <%- include("includes/header") %>
    <h1 class="text-center" id="nomeInicial">Pagina Inicial</h1>

     
  </body>
</html>
