<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
        <link rel='stylesheet' href='/stylesheets/ericStyle.css'>
    <title>MobMap - Saiba Mais</title>
  </head>
  <body>
      <%- include("includes/header") %>
      <div class="container">
        <div class="row mt-5">
          <h3 class="col-lg-5 mr-5 mb-5"><br>Não aguenta mais calçadas obstruídas e inadequadas? <br> <br>O MobMap surge como aliado para monitoramento dessas áreas.</h3>
          <div class="col-lg-6 mt-5 mb-5">
            <img class="img-fluid" src="/public/images/cadeiraComFundo.png">
          </div>
          <div class="col-lg-6 mt-5 mb-5">
            <img class="img-fluid" src="/public/images/mulherComCadeirante.png">
          </div>
            <h3 class="col-lg-5 ml-5 mt-5" style="align-items: center;"><br>Veja as regiões que possuem problemas de acessibilidade. <br>Com foto, localização e informações sobre os problemas presentes no local.</h3>
            
          <div class="row mt-5 mb-5" style="background-color: #4488DD; padding-top: 5px; padding-bottom: 5px;border-radius: 20px;">
              <img class="col-lg-5 m-3 mr-5" style="border-radius: 20px;"  src="/public/images/grupoPessoas.png">
          <div class="col-lg-5 ml-5" >
            <h5 class="ml-4">Contribua com a demarcação de áreas!</h5>
            <h5>Clique em ENVIAR PROBLEMA e coloque as seguintes informações:</h5>
            <ul style="list-style: circle solid; color: white;">
              <li class="col-8"><h5>Fotos do local</h5></li>
              <li class="col-8"><h5>Data em que a foto foi tirada</h5></li>
              <li class="col-8"><h5>Endereço do local</h5></li>
              <li class="col-8"><h5>Informações sobre o local</h5></li>
            </ul>
          </div>
      </div>

      </div>
      </div>

    <%- include("includes/footer") %>

    <%- include("includes/script") %>
  </body>
</html>
