body {
    color: #fff;
}

h1, h2, h3 {
    font-family: "M PLUS Rounded 1c", Roboto;
    font-weight: 1000;
}

.main-mapa {
    height: 180vh;
}

#container-mapa {
    position: relative;
}

#div-mapa {
    position: relative;
    z-index: 1;
    height: 80vh;
    padding: 0;
}

#botao-voltar {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}

#botao-voltar .btn-default {
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    background-color: #4488DD;
    font-family: "M PLUS Rounded 1c", Roboto;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    border-radius: 20px;
    border: 3px solid #4488DD;
}

#botao-voltar .btn-default:hover {
    box-sizing: border-box; 
    color: #4488DD;
    background-color: #fff;
    border: 3px solid #4488DD;
}

#div-pesquisa {
    height: 100vh;
    padding: 0;
    background-color: #fff;
}

#barra-pesquisa {
    height: 12vh;
    min-height: 68px;
    margin: 0;
    padding: 10px;
    background-color: #4488DD;
}

#form-pesquisa {
    width: 100%;
}

#form-pesquisa input{
    display: inline-block;
    width: 80%;
    border: 2px solid #224455;
    box-sizing: border-box;
    border-radius: 10px;
    /* margin-bottom: 10px;
    padding: 0 5px; */
}

#form-pesquisa input:focus {
    border: 2px solid #F79707;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#form-pesquisa button {
    color: #fff;
    font-size: 35px;
    /* margin-bottom: 10px; */
}

.div-problemas {
    color: #224455;
    padding: 10px 15px;
}

.div-problemas:hover {
    color: #FFF;
    background-color: #F79707;
}

.p-pequena {
    font-size: 13px;
}

.cor-cinza {
    background-color: #F8F8F8;
}

.imagem-problema {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.container-image {
    position: relative;
    text-align: center;
}

.baixo-centro {
    color: #FFF;
    font-weight: bold;
    background-color: rgba(70, 138, 221, 0.7);
    width: 70%;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
  }

@media (min-width: 768px) {
    .main-mapa {
        height: 100vh;
    }

    #div-mapa {
        height: 100vh;
    }

    #div-pesquisa {
        width: 350px;
        height: 75vh;
        border: 2px solid #224455;
        position: absolute;
        z-index: 100;
        top: 100px;
        left: 20px;
    }

    #barra-pesquisa {
        height: 80px;
    }

}