body {
    color: #fff;
}

h1, h2, h3 {
    font-family: "M PLUS Rounded 1c", Roboto;
    font-weight: 1000;
}

.main-mapa {
    height: 180vh;
}

#container-mapa {
    position: relative;
}

#div-mapa {
    position: relative;
    z-index: 1;
    height: 80vh;
    padding: 0;
}

#botao-voltar {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}

#botao-voltar .btn-default {
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    background-color: #4488DD;
    font-family: "M PLUS Rounded 1c", Roboto;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    border-radius: 20px;
    border: 3px solid #4488DD;
}

#botao-voltar .btn-default:hover {
    box-sizing: border-box; 
    color: #4488DD;
    background-color: #fff;
    border: 3px solid #4488DD;
}

#botao-recarregar {
    position: absolute;
    z-index: 100;
    bottom: 35px;
    left: 20px;
}

#botao-recarregar .btn-default {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: #F79707;
    font-family: "M PLUS Rounded 1c", Roboto;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    border-radius: 50%;
    border: 3px solid #F79707;
}

#botao-recarregar .btn-default:hover {
    box-sizing: border-box; 
    color: #F79707;
    background-color: #fff;
    border: 3px solid #F79707;
}

#div-pesquisa {
    height: 100vh;
    padding: 0;
    background-color: #fff;
}

#barra-pesquisa {
    height: 12%;
    min-height: 68px;
    margin: 0;
    padding: 10px;
    background-color: #4488DD;
}

#resultado-pesquisa {
    height: 88%;
    overflow: scroll;
}

#form-pesquisa {
    width: 100%;
}

#form-pesquisa input{
    display: inline-block;
    width: 80%;
    border: 2px solid #224455;
    box-sizing: border-box;
    border-radius: 10px;
}

#form-pesquisa input:focus {
    border: 2px solid #F79707;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#form-pesquisa button {
    color: #fff;
    font-size: 35px;
}

#form-pesquisa button:hover {
    color: #F79707;

}

.div-problemas {
    color: #224455;
    padding: 10px 15px;
}

.div-problemas:hover {
    color: #FFF;
    background-color: #F79707;
    cursor: pointer;
}

.p-pequena {
    font-size: 13px;
}

.cor-cinza {
    background-color: #eeeeee;
}

.imagem-problema {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.container-image {
    position: relative;
    text-align: center;
}

.baixo-centro {
    color: #FFF;
    font-weight: bold;
    background-color: rgba(70, 138, 221, 0.8);
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.zoom-imagem-fundo {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation-name: zoom;
    animation-duration: 0.5s;
}

.resto-descricao {
    display: none;
}

.pontos-descricao {
    display: inline;
}

.container-popup {
    color: #224455;
    font-size: 0.9rem;   
}

.container-popup h6 {
    font-size: 1.1rem; 
    font-weight: bold;  
}

@keyframes zoom {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container-imagem {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-imagem img {
    max-width: 100%;
}

#botao-fechar {
    cursor: pointer;
    color: #FFF;
    font-size: 3rem;
    position: fixed;
    top: 3vh;
    right: 5vw;
    z-index: 1002;
}

.problema-nao-resolvido {
    color: red;
    font-weight: bold;
}

.problema-resolvido {
    color: green;
    font-weight: bold;
}

.maptiler-geocoder-results div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #224455;
}

.maptiler-geocoder-results div:hover {
    color: #FFF;
    background-color: #F79707;
}

.maptiler-geocoder-results div:hover span {
    color: #FFF;
}

.maptiler-geocoder-results .item-context,  .maptiler-geocoder-results .item-type {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3a7795;
}

@media (min-width: 768px) {
    .main-mapa {
        height: 100vh;
    }

    #div-mapa {
        height: 100vh;
    }

    #botao-recarregar {
        position: absolute;
        z-index: 100;
        left: initial;
        top: 20px;
        right: 20px;
    }

    #div-pesquisa {
        width: 350px;
        height: 75vh;
        overflow: hidden;
        border: 2px solid #224455;
        position: absolute;
        z-index: 100;
        top: 100px;
        left: 20px;
    }

    #barra-pesquisa {
        height: 10%;
    }

    #resultado-pesquisa {
        height: 90%;
        overflow: scroll;
        overflow-x: hidden;
    }

    #botao-fechar {
        top: 3vh;
        right: 5vw;
        z-index: 1002;
    }

    .container-imagem {
        width: initial;
    }

}