header form{
    padding-top: 80px;
    width: 300px;
    height: 650px;
    margin: auto;
    text-align: center;
}
header form button{
    position: relative;
    width: 230px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(68, 137, 221);
    margin-bottom: 30px;
    border-bottom: grey 1px solid;
}
header form button:hover{
    background-color: orange;
}
header input,select {
    height: 30px;
    margin-bottom: 20px;
    padding-left: 6px;
    border-radius: 5px;
}
header h5{
    font-size: medium;
    margin-top: 40px;
    padding-top: 40px;
    border-top: grey 1px solid;
}
header .custom-checkbox {
    margin-bottom: 10px;
}
header .user{
    padding-top: 50px;
}


/* Add a black background color to the top navigation */
header .topnav {
background-color: rgba(68, 137, 221, 0.61);
overflow: hidden;
padding: 8px;
border: 1px solid grey;
}

/* Style the links inside the navigation bar */
header .topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
header .topnav a:hover {
text-decoration: underline whitesmoke;
color: whitesmoke;
font-weight: bold;
border-radius: 6px;
}

/* Hide the link that should open and close the topnav on small screens */
header .topnav .icon {
display: none;
} 

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 640px) {
    header .topnav a:not(:last-child){
        display: none;
    }
    header .topnav a.icon {
        float: left;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
    header .topnav.responsive {position: relative;}
    header .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    header .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
header .modal {
    margin-top: 10vh;
}
header .logo *{
    margin: 1px;
}
header .navbar {
    padding-left: 6vw;
    padding-right: 6vw;
}
header .navbar-collapse *{
    margin-left: 2vw;
    margin-right: 1vw;
}
header #question,header #hashtag,header #envelope {
    display: none;
}