
/* Footer - footer para todas as páginas */
#footer-geral div{
    height: 90px;
    background-color: #4488DD;
}

#footer-geral img {
    height: 50px;
}

#footer-geral p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
}

@media (min-width: 768px) {
    /* Footer - footer para todas as páginas */
    #footer-geral div{
        height: 100px;
    }
    
    #footer-geral img {
        height: 70px;
    }
    
    #footer-geral p {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
}


/* Header - header para todas as páginas
header .nav-link{
    font-family: 'M PLUS Rounded 1c';
    font-size: 20px;
    font-weight: bold;
    margin: 0px, 12px, 0px, 25px; 
    padding: 10px;
}
header .nav-item{
    margin: 0px, 12px, 0px, 25px; 
    padding: 8px;
}
header .logo *{
    margin: 1px;
}
header .navbar {
    padding-left: 6vw;
    padding-right: 6vw;
}
header .navbar-collapse *{
    margin-left: 2vw;
    margin-right: 1vw;
}
header #question, header #hashtag, header #envelope {
    display: none;
} */